:root {
  --dark-primary: #2a255b;
  --primary: #4e4d94;
  --light-grey: #f9f9f9;
  --border-grey: #ebe8f6;
  --white: #fff;
  --border-dark: #cac6da;
  --images---dark-chair: #f7efef;

  --font-family: "Satoshi", sans-serif;
  --second-family: "Clash Display", sans-serif;

  --gap: 20px;
  --container-width: 1280px;
  --container-offset: 15px;

  --main-trs: color 0.5s ease, border-color 0.5s ease,
    background-color 0.5s ease;

  --outline: 2px dashed currentColor;
  --outline-offset: 3px;
}
